<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3" *ngFor="let doctor of doctors">
    <div class="card" style="width: 18rem;">
      <img class="mt-2 card-img-top rounded-circle doctor-image-class" style="height: 150px; width: 150px;" [src]="doctor.image || '/assets/images/doctor.jpg'" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{doctor.name}}</h5>
        <p class="card-text">{{doctor.designation || 'No description/designation available'}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Address: {{doctor.address || 'No address provided'}}</li>
        <li class="list-group-item">{{doctor.mobile}}</li>
        <li class="list-group-item">{{doctor.email}}</li>
      </ul>
      <div class="card-body">
        <button (click)="doctorReport(doctor)"  class="btn btn-outline-info ">Details</button>
      </div>
    </div>

  </div>
</div>
