<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3" *ngFor="let doctor of doctors">
    <div class="card" style="width: 18rem;">
      <img class="mt-2 card-img-top rounded-circle doctor-image-class" src="/assets/images/doctor.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{doctor.name}}</h5>
        <p class="card-text">{{doctor.designation || 'No description/designation available'}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Address: {{doctor.address || 'No address provided'}}</li>
        <li class="list-group-item">{{doctor.mobile}}</li>
        <li class="list-group-item">{{doctor.email}}</li>
      </ul>
      <div class="card-body">
        <a [routerLink]="'/doctors/details/'+doctor._id" class="card-link">Details</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>

  </div>
</div>
