<div class="login-page">
  <div class="login-logo">
    <a href="#">
      <img src="./assets/images/hms.png" alt="" style="width: 50%;">
    </a>
  </div>

  <div class="form">
    <div class="text-center" *ngIf="hasError">
      <strong style="color: red">{{errMessage}}</strong>
    </div>

    <form class="login-form" [formGroup]="loginForm">
      <input type="text" placeholder="email" name="email" formControlName="email" required="true"/>
      <div *ngIf="isControlHasError('email','required')">
        <strong style="color: red">Email is required</strong>
      </div>
      <input type="password" placeholder="password" name="password"  formControlName="password" required="true"/>
      <div *ngIf="isControlHasError('password','required')">
        <strong  style="color: red">Password is required</strong>
      </div>
      <button (click)="login()" >login</button>
    </form>
  </div>
</div>
