<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-3" *ngFor="let patient of patients">
    <div class="card" style="width: 18rem;">
      <img class="mt-2 card-img-top rounded-circle doctor-image-class" src="/assets/images/patient.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{patient.name}}</h5>
        <p class="card-text">{{patient.designation || 'No designation available'}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Address: {{patient.address || 'No address provided'}}</li>
        <li class="list-group-item">{{patient.mobile}}</li>
        <li class="list-group-item">{{patient.email}}</li>
      </ul>
      <div class="card-body">
        <button (click)="patientReport(patient)" class="btn btn-outline-info">Reports</button>
      </div>
    </div>

  </div>
</div>
